<br><br><br><br><br>
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Vokabel Übungen</h1>
      <input  class="input" id="user" #user (change)='setUser($event.target)'/>        

      <select name="tests" id="tests" [disabled]="testInProgress" (change)="selectTest(getValue($event))">
        <option *ngFor="let lesson of lessons" 
        [value]="lesson.id" >
        {{lesson.title}}
        </option>
      </select>

      <label>&nbsp;&nbsp;</label>
      <input type="checkbox" [checked]='french' id="french" (change)='setFrench($event.target)'  name='French' [disabled]="testInProgress"/>
      <label>Francais</label>
      <label>&nbsp;&nbsp;</label>
      <input type="checkbox" [checked]='english' id="english" (change)='setEnglish($event.target)' name='English' [disabled]="testInProgress"/>
      <label>English</label>
      
    <br>
    <label>Test size:</label><label>{{challengesSize}}</label>
      <br>
      <button (click)="onStartButtonClick()" class="button is-link is-fullwidth">
        {{start}} the practice
      </button>

      <div class="field">
        <label  *ngIf="testInProgress">{{getQuestion()}}</label>
        <input  *ngIf="testInProgress" class="input" id="inputText" #inputText (change)='setText($event.target)'/>        
      </div>

      <button  *ngIf = "testInProgress" (click)="onNextButtonClick()" class="button is-link is-fullwidth">
        Next
      </button>
      <br>
      <button  *ngIf = "testInProgress" (click)="onPruefenButtonClick()" class="button is-link is-fullwidth">
        Verify
      </button>
      <br>
      <button  *ngIf = "testInProgress" (click)="onHintButtonClick()" class="button is-link is-fullwidth">
        {{hint}}
      </button>
      <br>
      <div>
        <img src="/assets/img/ok.png" alt="image" [hidden]="!okBildVisible">
        <img src="/assets/img/falsch.png" alt="image" [hidden]="!wrongBildVisible">
      </div>
      <table [hidden]="!showStatistics">
        <tr>
          <td>Test size:</td>
          <td>{{testsLength}}</td>
        </tr>
        <tr>
          <td>Answered questions:</td>
          <td>{{answeredQuestions}}</td>
        </tr>
        <tr>
          <td>Correctly answered:</td>
          <td>{{correctAnswered}}</td>
        </tr>
        <tr>
          <td>Hints used:</td>
          <td>{{correctAnswered}}</td>
        </tr>        
      </table>
    </div>

  </div>
</div>